{% extends "base.html" %} 
{% load static %}
{% load cart_tools %}

{% block content %}

   <div class="container mb-2">
       <div class="row">
           <div class="col">
               <hr>
                   <h2 class="logo-font mb-4">Shopping Cart</h2>
               <hr>
           </div>
       </div>
   </div>
 
<div class="row">
  <div class="col">
    {% if cart_items %}
    <div class="table-responsive rounded">
      <table class="table table-sm table-borderless">
        <thead class="text-black">
          <tr>
            <th scope="col">Product Info</th>
            <th scope="col"></th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope="col">Subtotal</th>
          </tr>
        </thead>

        {% for item in cart_items %}
        <tr>
          <td class="p-3 w-25">
            {% if item.product.product_image %}
                <img class="img-fluid rounded" src="{{ item.product.product_image.url }}" alt="{{ item.product.name }}">
            {% else %}
                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
            {% endif %}
          </td>
          <td class="py-3">
            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
          </td>
          <td class="py-3">
            <p class="my-0">€ {{ item.product.price }}</p>
          </td>
          <td class="py-3 w-25">
            <form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
              {% csrf_token %}
              <div class="form-group">
                <div class="input-group">
                    <div class="product-quantity">
                        <span class="minus bg-dark">-</span>
                            <input class="quantity-count form-control qty_input" type="number" name="quantity" value="{{ item.quantity }}">
                        <span class="plus bg-dark">+</span>
                    </div>
                    <span id="errorMsg" style="display:none;">Please enter the number between 1 and 99</span>
                </div>
              </div>
            </form>
            <a class="update-link text-info"><small>Update</small></a>
            <a
              class="remove-item text-danger float-right"
              id="remove_{{ item.item_id }}"
              ><small>Remove</small></a
            >
          </td>
          <td class="py-3">
            <p class="my-0">€{{ item.product.price| calc_subtotal:item.quantity }}</p>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="5" class="pt-5 text-right">
            <h6><strong>Cart Total: €{{ total|floatformat:2 }}</strong></h6>
            <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
            <h4 class="mt-4">
              <strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong>
            </h4>
            {% if free_delivery_delta > 0 %}
            <p class="mb-1 text-danger">
              You could get free delivery by spending just
              <strong>€{{ free_delivery_delta }}</strong> more!
            </p>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td colspan="5" class="text-right">
            <a
              href="{% url 'products' %}"
              class="btn btn-outline-black rounded-0 btn-lg"
            >
              <span class="icon">
                <i class="fas fa-chevron-left"></i>
              </span>
              <span class="text-uppercase">Keep Shopping</span>
            </a>
            <a href="" class="btn btn-black rounded-0 btn-lg">
              <span class="text-uppercase">Secure Checkout</span>
              <span class="icon">
                <i class="fas fa-lock"></i>
              </span>
            </a>
          </td>
        </tr>
      </table>
    </div>
    {% else %}
    <p class="lead mb-5">Your Cart is empty.</p>
    <a
      href="{% url 'products' %}"
      class="btn btn-outline-black rounded-0 btn-lg"
    >
      <span class="icon">
        <i class="fas fa-chevron-left"></i>
      </span>
      <span class="text-uppercase">Keep Shopping</span>
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'cart/includes/remove_update_script.html' %}
{% endblock %}