{% extends "base.html" %} 
{% load static %}
{% load cart_tools %}

{% block content %}

<section class="section-cart">
<div class="cart-color-background">
    <div class="container-fluid">
        <div class="row">
            <div class="col d-none d-md-block">
                    <h2 class="logo-font mt-4 mb-4">Shopping Cart</h2>
            </div>
            <div class="col d-block d-md-none">
                <h4 class="logo-font mt-4 mb-4">Shopping Cart</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-9">
            {% if cart_items %}
            <!-- Cart View for Mobile Device -->
                <div class="table-responsive rounded d-block d-md-none">
                    <table class="table-cart table table-sm table-borderless">
                        <thead class="text-black">
                            <tr>
                            <th scope="col">Products</th>
                            <th scope="col"></th>
                            <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                    {% for item in cart_items %}
                        <tr>
                            <td class="p-3 w-25">
                                {% include "cart/product-image.html" %}
                            </td>
                            <td class="py-3">
                                {% include "cart/product-name.html" %}
                                <div class="mb-2">
                                    <small>
                                        {% if item.color %}
                                            {{ item.color }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </small>
                                </div>
                                {% include "cart/quantity-form.html" %}
                                <a class="update-link text-info"><small>Update</small></a>
                                <br>
                                <a
                                    class="remove-item text-danger float-left"
                                    id="remove_{{ item.item_id }}"
                                    data-product_color="{{ item.color }}"
                                    ><small>Remove</small></a
                                >
                            </td>                        
                            <td class="py-3">
                                <div>€{{ item.product.price| calc_subtotal:item.quantity }}</div>
                            </td>
                            
                            
                        </tr>
                    {% endfor %}
                    </table>
                </div>
            <!-- Cart View for Desktop -->
                <div class="table-responsive rounded d-none d-md-block">
                    <table class="table-cart table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                        <th scope="col">Your Selections</th>
                        <th scope="col"></th>
                        <th scope="col">Color</th>
                        <th scope="col">Price</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Subtotal</th>
                        </tr>
                    </thead>

                    {% for item in cart_items %}
                    <tr>
                        <td class="p-3 w-25">
                            {% include "cart/product-image.html" %}
                        </td>
                        <td class="py-3">
                            {% include "cart/product-name.html" %}
                            <a
                                class="remove-item text-danger float-left"
                                id="remove_{{ item.item_id }}"
                                data-product_color="{{ item.color }}"
                                ><small>Remove</small></a
                            >
                        </td>                        
                        <td class="py-3">
                            <p class="my-0">
                                {% if item.color %}
                                    {{ item.color }}
                                {% else %}
                                    -
                                {% endif %}
                            </p>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€ {{ item.product.price }}</p>
                        </td>
                        <td class="py-3 w-25">
                            {% include "cart/quantity-form.html" %}
                            <a class="update-link text-info"><small>Update</small></a>
                        </td>
                        <td class="py-3">
                            <p class="my-0">€{{ item.product.price| calc_subtotal:item.quantity }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="order-summary-table">
                    <ul class="order-summary-ul">
                        <li class="order-summary-text">
                        ORDER SUMMARY
                        <hr>
                        </li>
                        <li><span>Cart Total</span><span class="float-right">€{{ total|floatformat:2 }}</span>
                        </li>
                        <li class="mb-2"><span>Delivery</span><span class="float-right">€{{ delivery|floatformat:2 }}</span>
                        </li>
                        <li class="grand-total-text"><span><strong>Grand Total</strong></span>
                        <span class="float-right">€{{ grand_total|floatformat:2 }}</span>
                        </li>
                        {% if free_delivery_delta > 0 %}
                        <li class="mb-1 text-danger free-delivery-text">
                            You could get free delivery by spending just
                            <strong>€{{ free_delivery_delta }}</strong> more!
                        </li>
                        {% endif %}
                    </ul>
                    <div class="text-center">
                        <a href="{% url 'checkout' %}" class="btn btn-colour-shop mb-3">
                        <span class="text-uppercase">Secure Checkout</span>
                        </a>
                        <br>
                        <a href="{% url 'onlineshop' %}">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Keep Shopping</span>
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
            <p class="lead mb-5">Your Cart is empty.</p>
            <a
                href="{% url 'onlineshop' %}"
                class="btn btn-outline-black rounded-0 btn-lg"
            >
                <span class="icon">
                <i class="fas fa-chevron-left"></i>
                </span>
                <span class="text-uppercase">Keep Shopping</span>
            </a>
            {% endif %}
        </div>
    </div>
</div>
</section>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'cart/includes/remove_update_script.html' %}
{% endblock %}