{% extends "base.html" %}

{% block content %}
    
<div class="container section-top">
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="allauth-form-inner-content">
				<h3>Thank you for contacting us. </h3>
				<p class="mt-1">Your message is successfully sent to the shop. We will get back to you as soon as possible.</p>
				<div class="mt-2">
					<a href="{% url 'home' %}">
						<span class="icon">
							<i class="fas fa-angle-left"></i>
						</span>
						<span>Back to Home</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}