{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container section-top">
        <div class="row">
            <div class="offset-1 col-10 col-lg-6">
                <h2 class="logo-font mb-4">My Profile</h2>
            </div>
        </div>
        <div class="row">
            <div class="offset-1 col-10 col-lg-6">
                <p>Default Delivery Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-colour-1" aria-label="Update Profile Button">Update Information</button>
                </form>
                <div class="mt-4">
                    <a href="{% url 'home' %}">
                        <span class="icon">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span>Back to Home</span>
                    </a>
                </div>
            </div>
            <div class="offset-1 col-10 col-lg-6">
                <p>Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                            <li class="small">
                                            {{ item.product.name }} x {{ item.quantity }}
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>  
{% endblock %}