{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container section-top">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4">My Profile</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p>Default Delivery Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-colour-1">Update Information</button>
                </form>
                <div class="mt-2">
                    <a href="{% url 'home' %}">
                        <span class="icon">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span>Back to Home</span>
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <p>Order History</p>
                {{ orders }}
            </div>
        </div>
    </div>  
{% endblock %}