/**---- Common element over the site ----**/
footer, header, section {
    display: block;
}

ul, li {
   list-style-type: none;
} 

a {
   transition: all 0.25s ease-in-out;
   color: #b75d69;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

/** Disable default decorations for Links **/
a:focus,
a:hover,
a:active {
    outline: none!important;
    text-decoration: none !important;
    border: 0!important;
    color: #daa9af
}

/** Font **/
body {
    font-family: 'Playfair Display', serif;
}

/** Navbar **/
.navbar-spacing {
    letter-spacing: 0.5px;
    height: 95px;
}

.shopping-cart-ex {
    font-size: 20px;
    color: black;
}

.display-cart {
  display: inline-block;
}

.item-number {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.navbar-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

/** Button **/
.btn-outline {
  color: black;
  background-color: #ffffff;
  border-color: black;
  border-radius: 0;
  letter-spacing: 0.05em;
  border: 1px solid black!important;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus {
  background-color: black;
  color: #ffffff!important;
  border: 1px solid black!important;
}

.btn-colour-1 {
  color: #fff;
  background-color: black;
  border-color: black;
  letter-spacing: 0.05em;
  border-radius: 0;
  border: 1px solid black!important;
}

.btn-colour-1:hover,
.btn-colour-1:active,
.btn-colour-1:focus {
  background-color: #ffffff;
  color: black;
  border: 1px solid black!important;
}

.btn-call-to-action {
  color: #fff;
  background-color: #b75d69;
  border-color: #b75d69;
  letter-spacing: 0.05em;
  border-radius: 0;
  border: 1px solid #b75d69!important;
}

.btn-call-to-action:hover,
.btn-call-to-action:active,
.btn-call-to-action:focus {
  background-color: #ffffff;
  color: #b75d69;
  border: 1px solid #b75d69!important;
}

#logo-small{
    display: none
}

/** Form **/
.form-flowerydays{
    justify-content: center!important;
}

.form-search {
    justify-content: center!important;
    display: flex;   
}

.search-block{
    display: inline-block;
}

.search-input-field {
    width: 145px;
}

.form-flowerydays input,
.form-flowerydays textarea,
.form-search input,
.form-search textarea {
    border: 1px solid #7c7c7c;
    border-radius: 0;
    padding: 6px 12px;
}

/**---- Index ----**/
/** Carousel **/
html,
body {
    height: 100vh; 
}

.carousel-inner {
    position: relative;
    height: inherit;
    z-index: 1;
}

.carousel-indicators-extension {
    z-index: 9000;
}

.carousel-text-box-1 {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    position: absolute;
    top: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15%;
    color: #fff;
    text-align: center;
}

.text-shadow-carousel {
    text-shadow: 1px 1px #707070;
}

.dropdown-extension {
    z-index: 999999;
}

/** About **/
.bg-about {
    background-color: #b75d69 !important;
    color: white;
    padding: 6rem 0;
}

.page-section {
    padding: 4rem 0;
}

.bg-why-choose-us {
    background-color: #eacdc2 !important;
}

.about-icon {
    font-size: 35px
}

.liner-text {
    position: relative;
    background: linear-gradient(to bottom, #ffffff00 85%, #F5E6E1 15%);
    width: 80%;
    left: 15%;
}

/** Testimonial **/

.quote {
    color: #C5BEC4;
    text-align: center;
    margin-bottom: 30px;
}


/*  Carousel Fade Transition   */

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}

#fade-quote-carousel.carousel .carousel-inner .carousel-item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}

#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #eacdc2;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

#fade-quote-carousel.carousel .carousel-indicators .active {
  background-color: #b75d69;
  border: none;
  height: 12px;
  width: 12px;
  padding: 0 0;
  border-radius: 50%;
  display: inline-block;
}

#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}

#fade-quote-carousel .profile-circle {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}


/** Contact **/
.bg-contact {
  background: url('../img/home/contact.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.ct-contact {
    background-color: white;
}


/** Footer **/

.footer-all {
    background-color: #774c60;
    color: white;
}

.footer-title {
    margin-bottom: 1rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
}

.footer-corporate-list > li > a {
    color: white;
}

.footer-corporate-list > li > a:hover {
    color: #eacdc2;
}

.footer-corporate-list {
    columns: 2;
    break-inside: avoid;
}

.second-footer-panel {
   background: #372549;
}
 
ul#social-icon li {
 display:inline;
}
 
ul#social-icon {
 padding-left: 0px!important;
 margin-top: 1rem;
 margin-bottom: 0.5rem;
}
 
ul#social-icon a {
 color: white;
}
 
ul#social-icon a:hover {
   color: #eacdc2;
}


/**---- Online Shop ----**/
/** Online Shop Filter **/

.section-top {
    padding: 20px 0;
}

.aside-title {
    padding-bottom: 10px;
    text-transform: uppercase;
    border-bottom: 1px solid #d4d4d4;
    font-size: 1rem;
}

.list-shop-filter {
    margin-top: 10px;
}

.btn-product-filter {
  color: #fff;
  background-color: #774c60;
  border-color: #774c60;
  letter-spacing: 0.05em;
  border-radius: 0;
  margin-top: 1rem;
}

.btn-product-filter:hover,
.btn-product-filter:active,
.btn-product-filter:focus {
  background: #ffffff;
  color: #774c60;
  border-color: #774c60;
}

.product-counter{
    font-size: 1rem;    
}

/** Product Card **/
.product {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px 15px;
    margin: 20px 3px;
    text-align: center;
}

.online-product-img {
    width: 210px;
    height: 210px;
}

.product-figure {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 180px;
    width: 210px;
    height: 210px;
}

.product-title {
    color: black;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: uppercase;
}

.product-title a {
    color: black;
}

.btn-colour-shop {
  color: #fff;
  background-color: #1a1423;
  border-color: #1a1423;
  letter-spacing: 0.05em;
  border-radius: 0;
  margin-top: 1rem;
}

.btn-colour-shop:hover,
.btn-colour-shop:active,
.btn-colour-shop:focus {
  background: #ffffff;
  color: #1a1423;
  border-color: #1a1423;
}

.product-price {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0;
    color: #619f7b;
}

.product-hover {
  position: relative;
  width: 210px;
  height: 210px;
  margin-left: auto;
  margin-right: auto
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: 0.3s ease;
}

.product-hover:hover .overlay {
  display: block;
  background: rgba(183, 93, 105, 0.3);
}

.button-overlay {
  position: absolute;
  width: 210px;
  left:0;
  top: 100px;
  text-align: center;
  opacity: 0;
  transition: opacity .2s ease;
}

.button-overlay a {
  width: 150px;
  padding: 10px 20px;
  text-align: center;
  color: white;
  border: solid 1px white;
  z-index: 1;
}

.button-overlay > a:hover {
  border: solid 1px rgba(255,255,255,0.9)!important;
  background: rgba(255,255,255,0.9);
  color: rgba(183, 93, 105);
  z-index: 1;
}

.product-hover:hover .button-overlay {
  opacity: 1;
}

.product_edit {
    font-size: 0.9rem;
}

.product_delete {
    font-size: 0.9rem;
}

/** Pagination **/
.pagination-extension {
    font-size: 1.2rem;
}

.move-page-button-disabled {
    color: #8a8a8a;
    background-color: white;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 0px;
    border-style: outset;
    border-color: #b75d69;
    border-image: initial;
}

.active-pagination {
    padding: 1px 6px;
    border-width: 2px;
    color: #a53860;
}

.page-button {
    background-color: #ffffff00;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 0px;
    border-style: outset;
    border-color: #ffffff00;
    border-image: initial;
    color: #8a8a8a;
    cursor: pointer;
}

.move-page-button {
    color: white;
    background-color: #b75d69;
    box-sizing: border-box;
    padding: 1px 6px;
    border-width: 0px;
    border-style: outset;
    border-color: #b75d69;
    border-image: initial;
    cursor: pointer;
}


/** Single product **/
.breadcrumb-custom {
    background-color: rgba(255, 255, 255, 0)!important;
}

.breadcrumb-item > a{
    color: black;
}


#color-option {
    width: 50%!important;
}

/** Single Product Carousel **/
/* Main carousel style */
.article-slide {
    width: 400px;
    height: 400px;
    margin-bottom: 120px;
}

.single-product-img {
    width: 400px;
    height: 400px; 
}

/* Indicators list style */
.article-slide .carousel-indicators-extension {
    bottom: -120px;
    left: 0;
    width: inherit;
    margin-left: 0;
    margin-right: 0;
}

.carousel-indicators-extension ol {
    padding-inline-start: 0;
}

/* Indicators list style */
.article-slide .carousel-indicators-extension li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 90px;
    width: 90px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
}

/* Indicators images style */
.article-slide .carousel-indicators-extension img {
    border: 2px solid rgba(234, 205, 194, 0.7);
    float: left;
    height: 90px;
    left: 0;
    width: 90px;
}

/* Indicators active image style */
.article-slide .carousel-indicators-extension .active img {
    border: 2px solid rgba(183, 93, 105, 0.7);
    opacity: 0.7;
}

/** Quantity Counter **/
.product-quantity .quantity-count {
    color: black;
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
    height: calc(2.5em + .75rem + -35px);
}

.product-quantity .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    }

.product-quantity .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: white;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    background-clip: padding-box;
}

.minus:hover, .plus:hover {
    background-color: #b75d69 !important;
}

.plus, .minus {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.quantity-count{  
    border: 0;
    width: 2%;
    background-color: #ffffff00;
}

.quantity-count::-webkit-outer-spin-button,
.quantity-count::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity-count:disabled{
    background-color:white;
}

.errorMsg {
    font-size: 0.8rem;
    color: red;
}


/* Customer Rating */
.store-text-large {
  font-size: 130%;
}

.stars-outer {
    display: inline-block;
    position: relative;
    font-family: 'Font Awesome 5 Free';
}

.stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-weight: 10;
}

.stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 800;
}

.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #da627d;
}

.card-review-extension {
    border: 0!important;
}

.card-header-review-extension {
    background-color: white!important;
}

/* Back to previous page link */
.backToPrevious{
    cursor: pointer;
    margin-top: 1rem;
}

.backToPrevious:hover,
.backToPrevious:focus{
    color: #8a8a8a;
}

.backToPrevious:active,
.backToPrevious:focus{
    color: #5e5e5e;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/* Cart */
.section-cart {
    padding: 20px 10px;
}

.cart-color-background {
    background-color: #f2e9e4;
    padding-bottom: 20px
}

.table-cart td,
.table-cart th {
    border-bottom: 1px solid #fffaf7;
}

.table-cart thead th {
    border-top: 1px solid #fffaf7;
    border-bottom: 2px solid #fffaf7;
}

.cart-product-name, .order-summary-text,
.grand-total-text {
    font-size: 1.2rem;
}

.order-summary-table {
    background-color: #ffffff;
    padding:20px 20px;
}

.order-summary-ul {
    padding: 10px 10px!important;
    margin-bottom: 0!important;
}

.free-delivery-text {
    font-size: 0.8rem;
}


/** Blog **/
/* Blog landing page */
.card-small-extenstion {
    height: 380px;
    border: 0!important;
}

.card-hover:hover {
    background-color: rgb(255, 255, 255, 0.3);
    z-index: 10;
 }

.card-body-small-extenstion {
    height: 380px;
    width: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 0!important;
}

@media (min-width: 992px) {
.card-large-extenstion {
    height: 780px;
    border: 0!important;
}
.card-body-large-extenstion {
    height: 780px;
    width: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 0!important;
}
}

@media (max-width: 992px) {
.card-large-extenstion {
    height: 380px;
    border: 0!important;
}

.card-body-large-extenstion {
    height: 380px;
    width: auto;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border: 0!important;
}
}

.card-width-small {
    height: 100%;
}

.card-width-large {
    height: 100%;
}

.card-body-extenstion {
    padding: 0!important;
}

.card-img-top-extenstion {
    object-fit: cover;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}

.card-title-extenstion {
    z-index: 1;
    background-color: #ffffff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0!important;
}

.card-body-small-extenstion:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Blog Post Page */
.blog_post_img {
    object-fit: cover;
    width: 100%;
    height: 350px;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.users-comment {
    padding: 15px 50px;
    background-color: #eacdc2;
}

.comment-name{
    font-weight: 800;
}

.comment-date{
    color: #5e5e5e;
    font-size: 0.8rem; 
}

.comment-line{
    background-color: #b75d69;
    padding: 2px;
}

.blog-comment-form{
    margin-top: 30px;
}

/* Toast */
.custom-toast {
    overflow: visible;
}

.message-container > .hide {
    display: none;
}

.toast-capper {
    height: 2px;
}

.total-toast {
    font-size: 1.1rem;
    font-weight: bold;
}

.product-count {
    font-size: 0.8rem;
}

.continue-shopping {
    text-decoration: underline;

}

.continue-shopping:hover {
    text-decoration: none;
    cursor: pointer;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}


/**---- Media Queries for responsiveness ----**/
/* Extra Small devices (phones, less than 576px) */
@media (min-width: 0px) and (max-width: 576px) {
.form-control-extention {
    display: inline-block;
}

.vertical-align {
    margin-top: 7px;
}

.single-product-img {
    width: 250px;
    height: 250px;
}

.product-info {
    text-align: center;
}

.center-single-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article-slide {
    width: 100%;
    margin-bottom: 120px;
}

.header-ex {
    position: relative;
    z-index: 9999;
    height: 56px;
    overflow: visible;
}

#brand-logo {
    width: 130px;
}

.explain-center{
    text-align: center!important;
}

.carousel-text-box-1 {
    margin-top: 5rem;
    font-size: 1.2rem!important;
    left: 15%!important;
}

.small-size-carousel {
    height:100%;
}

.first-carousel-small {
    position:relative;
}

.top {
    height: 543px;
    margin-bottom: -100px;
}

.carousel-padding {
    width: 100%;
    height: 445px;
    top: 0;
    position: absolute;
    padding-top: 56px;
}

.carousel-extension {
    position: relative;
    height: inherit;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 768px) {
.header-ex {
    position: relative;
    z-index: 9999;
    height: 95px;
    overflow: visible;
}

.form-control-extention {
    display: inline-block;
}

.product-info {
    text-align: center;
}

.carousel-text-box-1 {
    margin-top: 5rem;
    font-size: 1.2rem!important;
    left: 30%!important;
}

#brand-logo {
    width: 230px;
}

.explain-center{
    text-align: center!important;
}

.carousel-image {
    width: 100%;
}

.top {
    height: 505px;
    margin-bottom: -95px;
}

.carousel-padding {
    height: 410px;
    top: 0;
    position: absolute;
    padding-top: 95px;
}

.carousel-extension {
    position: relative;
    height: inherit;
}
}


/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 992px) {
.header-ex {
    position: relative;
    z-index: 9999;
    height: 95px;
    overflow: visible;
}

.form-control-extention {
    display: inline-block;
}

.product-info {
    text-align: center;
}

.carousel-text-box-1 {
    margin-top: 8rem;
    font-size: 1.2rem!important;
    left: 30%!important;
}

#brand-logo {
    width: 230px;
}

.carousel-image {
    width: 100%;
}

.top {
    height: 635px;
    margin-bottom: -95px;
}

.carousel-padding {
    width: 100%;
    height: 540px;
    top: 0;
    position: absolute;
    padding-top: 95px;
}

.carousel-extension {
    position: relative;
    height: inherit;
}
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
.header-ex {
    position: relative;
    z-index: 9999;
    height: 95px;
    overflow: visible;
}

.carousel-text-box-1 {
    margin-top: 10rem;
    font-size: 1.2rem!important;
    left: 30%!important;
}

#brand-logo {
    width: 230px;
}

.carousel-image {
    width: 100%;
}

.top {
    height: 755px;
    margin-bottom: -95px;
}

.carousel-padding {
    width: 100%;
    height: 660px;
    top: 0;
    position: absolute;
    padding-top: 95px;
}

.carousel-extension {
    position: relative;
    height: inherit;
}

/* Blog Comment section padding */
.blog-comment-section{
    padding: 20px 150px;
}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.header-ex {
    position: relative;
    z-index: 9999;
    height: 95px;
    overflow: visible;
}

#brand-logo {
    width: 230px;
}

.carousel-image {
    width: 100%;
}

.top {
    height: 100%;
    margin-bottom: -110px;
}

.carousel-padding {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    padding-top: 95px;
}

.carousel-extension {
    position: relative;
    height: inherit;
}

/* Blog Comment section padding */
.blog-comment-section{
    padding: 20px 150px;
}
}
