{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <div class="row">
        <div class="col-12">
            <img src="{{ blog_image.image.url }}" class="blog_post_img">
                <div class="pr-4 pl-4">
                    <h2 class="card-title mt-4">{{ blog_post.title }}</h2>
                    <p class="card-text text-muted mt-2">{{ blog_post.author }} | {{ blog_post.created_on }} </p>
                    <p class="card-text">{{ blog_post.content|linebreaks }}</p>
                </div>
                <div class="mt-4">
                </div>
        </div>
  </div>
</div>
{% endblock %}