{% extends "base.html" %}
{% load static %}

{% block content%}

<!-- 404 Error handler, in case a site visitor enters an incorrect URL-->
<div class="container section-top">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="uppercase font-weight-bold error-heading"> 
                404 error
            </h1>
            <h3 class="mt-5 error-sub-heading">
                Oops! We can't seem to find the page you're looking for.
            </h3>
            <a href="{% url 'home' %}" class="btn btn-colour-1 mt-3" aria-label="Back Home Button">
                <i class="fas fa-chevron-left mr-1"></i> Back Home
            </a>
        </div>
    </div>
</div>
{% endblock %}