{% extends "base.html" %} {% load static %} {% block content %}
<section class="section-onlineshop">
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-xl-3">
        <div class="mb-4">
            <h6 class="aside-title">Categories</h6>
            <select class="selectpicker" multiple data-live-search="true">
                {% for category in categories %}
                <option>{{ category|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <h6 class="aside-title">Color</h6>
            <select class="selectpicker" multiple data-live-search="true">
                {% for color in colors %}
                <option>{{ color.name|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <h6 class="aside-title">Flower</h6>
            <select class="selectpicker" multiple data-live-search="true">
                {% for flower in flowers %}
                <option>{{ flower.name|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-4">
            <h6 class="aside-title">Occasion / Use</h6>
            <select class="selectpicker" multiple data-live-search="true">
                {% for occasion in occasions %}
                <option>{{ occasion|title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-lg-8 col-xl-9">

        </div>
    </div>
</div>
</section>
{% endblock %}
