<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
      <form method="GET" action="{% url 'products' %}">
        <div class="input-group w-100">
          <input
            class="form-control border border-black rounded-0"
            type="text"
            name="q"
            placeholder="Search our site"
          />
          <!-- input-group-append is from bootstrap -->
          <div class="input-group-append">
            <button
              class="form-control btn btn-black border border-black rounded-0"
              type="submit"
            >
              <span class="icon">
                <i class="fas fa-search"></i>
              </span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
       {% if color_filtered %}
       {% for product in color_filtered %}
       {% for haha in product.image_id.all %}
            <img class="card-img-top img-fluid" src="{{ haha.image.url }}" alt="{{ haha.product_id.name }}">
        {% endfor %}
        {% endfor %}
       {% endif %}
    </div>
  </div>
</div>