{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <ul class="breadcrumb breadcrumb-custom">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'filter_product' %}?filter_category={{ product.category }}">{{ product.category }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="carousel carousel-extension slide article-slide ml-auto mr-auto" 
            data-interval="false" id="article-photo-carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                {% for image in images %}
                  {% if forloop.first %}
                    <li class="active" data-slide-to="0" data-target="#article-photo-carousel">
                    <img alt="" src="{{ image.image.url }}">
                    </li>
                  {% else %}
                    <li class="" data-slide-to="{{ forloop.counter0 }}" data-target="#article-photo-carousel">
                    <img alt="" src="{{ image.image.url }}">
                    </li>
                  {% endif %}
                {% endfor %}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-extension">
                    <div class="carousel-inner cont-slider">
                    {% for image in images %}
                        {% if forloop.first %}
                            <div class="carousel-item active">
                            <img alt="" title="" src="{{ image.image.url }}" class="single-product-img">
                            </div>
                        {% else %}
                            <div class="carousel-item">
                            <img alt="" title="" src="{{ image.image.url }}" class="single-product-img">
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="product-title">{{ product.name }}</h3>
            <h4 class="mb-3">€ {{ product.price }}</h4>
            <p class="product-description mb-3"> {{ product.description }} </p>
            <hr>
            {% if product.category != 'bouquet' %}
                <div class="row mb-3">
                    <div class="col-md-2 my-auto">Color: </div>
                    <div class="col-md-10 my-auto">
                        <select class="form-control" id="color-option">
                        {% for color in colors %}
                            <option>{{ color.color_set.all.0.name }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
            {% endif %}


            <form class="form" action="{% url 'add_to_cart' product.pk %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-2 my-auto">Quantity: </div>
                            <div class="col-md-10 my-auto">
                                <div class="product-quantity">
                                    <span id="minus_0" class="minus bg-dark">-</span>
                                        <input id="number_0" class="quantity-count form-control qty_input" type="number" name="quantity" value="1">
                                    <span id="plus_0" class="plus bg-dark">+</span>
                                </div>
                                <span id="errorMsg" style="display:none;">Please enter the number between 1 and 99</span>
                            </div>
                        </div>
                        <div>
                            <input type="submit" class="btn btn-colour-shop" value="Add to Cart">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                        <div class="backToPrevious">
                            <span class="icon">
                                <i class="fas fa-arrow-left"></i>
                            </span>
                            <span>Back to Previous Page</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}