<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-success"></div>
    <div class="w-100 toast-capper bg-success"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto">Added to Cart</strong>
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        <div class="row">
        {% if last_added_item %}
            <div class="col-4">
                <img class="w-100" src="{{ last_added_item.image }}" alt="{{ product.name }}">
            </div>
            <div class="col-8">
                {{ last_added_item.name }}
            </div>
        {% endif %}
        <div class="row">
            <div class="col-12">
                <p>Subtotal {{ grand_total }}</p>
                <p>( {{ product_count }} product)</p>
                    {% if free_delivery_delta > 0 %}
                    <p>Free Delivery spending {{ free_delivery_delta }} more</p>
                    {% else %}
                    <p>You've got the free delivery!</p>
                    {% endif %}
                <button>
                    View Cart & Checkout
                </button>
                <p>Continue Shopping</p>
            </div>
        </div>
        </div>
    </div>
</div>